body {
    font-family: 'Roboto', sans-serif;
}
.navbar{
    border-bottom: 1px solid #eee;
}
.navbar-container{
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 20px;
}
.navbar-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    align-content: center;
    margin: auto;
    padding: 20px;
}
.nav-item{
    text-transform: uppercase;
    list-style: none;
    font-weight: 700;
}
.active{
    color: #3a8bcd;
}